<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V9</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="static/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="static/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="static/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/css/util.css">
	<link rel="stylesheet" type="text/css" href="static/css/main.css">
<!--===============================================================================================-->
</head>
<body>
	
	
	<div class="container-login100" style="background-image: url('images/bg-01.jpg');">
		<div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
			<form class="login100-form validate-form" action="{{url_for('form')}}" method="get">
				<span class="login100-form-title p-b-37">
					School details
				</span>

				<div class="wrap-input100 validate-input m-b-20" data-validate="School Name">
					<input class="input100" type="text" name="schoolname" placeholder="School Name">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input m-b-25" data-validate = "School ID">
					<input class="input100" type="text" name="schoolid" placeholder="School ID">
					<span class="focus-input100"></span>
				</div>


				<div>
					<b>Locality:</b>
					<br>
					<input type="radio" name="locality" value="rural"><b>Rural</b><br>
					<input type="radio" name="locality" value="urban"><b>Urban</b><br>
					<input type="radio" name="locality" value="tribal"><b>Tribal</b><br>
					<span class="focus-input100"></span>
				</div>
				<br>

				<div class="wrap-input100 validate-input m-b-25" data-validate = "Existing Programs">
					<input class="input100" type="text" name="programs" placeholder="Existing Programs">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input m-b-25" data-validate = "Strength">
					<input class="input100" type="text" name="strength" placeholder="Strength">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input m-b-25" data-validate = "No of girls">
					<input class="input100" type="text" name="nogirls" placeholder="No of girls">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input m-b-25" data-validate = "No of boys">
					<input class="input100" type="text" name="noboys" placeholder="No of boys">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input m-b-25" data-validate = "Amount">
					<input class="input100" type="text" name="amount" placeholder="Amount assigned">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input m-b-25" data-validate = "Cluster">
					<input class="input100" type="text" name="cluster" placeholder="Cluster">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input m-b-25" data-validate = "Block">
					<input class="input100" type="text" name="block" placeholder="Block">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input m-b-25" data-validate = "Region">
					<input class="input100" type="text" name="region" placeholder="Region">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input m-b-25" data-validate = "State">
					<input class="input100" type="text" name="state" placeholder="State">
					<span class="focus-input100"></span>
				</div>

				<div>
					<b>Locality:</b>
					<br>
					<input type="radio" name="locality" value="rural"><b>Rural</b><br>
					<input type="radio" name="locality" value="urban"><b>Urban</b><br>
					<input type="radio" name="locality" value="tribal"><b>Tribal</b><br>
					<span class="focus-input100"></span>
				</div>
				<br>

				<div>
					<b>Locality:</b>
					<br>
					<input type="radio" name="locality" value="rural"><b>Rural</b><br>
					<input type="radio" name="locality" value="urban"><b>Urban</b><br>
					<input type="radio" name="locality" value="tribal"><b>Tribal</b><br>
					<span class="focus-input100"></span>
				</div>
				<br>





				<div class="container-login100-form-btn">
					<button class="login100-form-btn">
						Submit
					</button>
				</div>
				</form>

			
		</div>
	</div>
	
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="static/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="static/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="static/vendor/bootstrap/js/popper.js"></script>
	<script src="static/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="static/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="static/vendor/daterangepicker/moment.min.js"></script>
	<script src="static/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="static/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="static/js/main.js"></script>

</body>
</html>